# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# dotenv environment variables file
.env
.env.test
env.js
env.ts
.env.js
.env.ts
env.json
.runtimeconfig.json
